
<% page_name 'Request Edition' %>

<div class="main">
  <div class="inner">
    
    <h2>Request Edition</h2>

    <% form_for :wish, url(:wishes, :update, :id => @wish), :method => :put do |f| %>
      <table class="details">
        <tr>
          <td class="label">
            Name
          </td>
          <td>
            <%= f.text_field :name, :size => 62, :maxlength => 100 %>
            <%= field_error @wish.errors[:name] %>
          </td>
        </tr>
        <tr>
          <td class="label">
            Type
          </td>
          <td>
            <%= f.select :type_id, :collection => @types, :fields => [:description, :id] %>
          </td>
        </tr>
        <tr>
          <td class="label">
            Format
          </td>
          <td>
            <%= f.select :format_id, :collection => @formats, :fields => [:description, :id], :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td class="label">
            Year
          </td>
          <td>
            <%= f.text_field :year, :size => 6, :maxlength => 4 %>
            <%= field_error @wish.errors[:year] %>
          </td>
        </tr>
        <tr>
          <td class="label">Country</td>
          <td>
            <%= f.select :country_id, :collection => @countries, :fields => [:description, :id], :include_blank => true %>
          </td>
        </tr>
        <tr>
          <td class="label">
            Description
          </td>
          <td>
            <%= partial_with_block('misc/editor', { :target => 'wish_description' }) { f.text_area :description, :rows => 8, :cols => 80 } %>
          </td>
        </tr>
        <% if current_user.admin_mod? %>
          <tr>
            <td class="label">
              reason
            </td>
            <td>
              <%= text_field_tag :reason, :value => params[:reason], :size => 62, :maxlength => 100 %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td colspan="2" class="center">
            <ul class="buttons">
              <li><%= submit_tag 'Edit', :class => 'submit' %></li>
              <li><%= submit_tag 'Cancel', :name => 'cancel', :class => 'submit' %></li>
            </ul>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>


