
  <select name="destination_folder" id="destination_folder">
    <% unless session[:messenger_folder] == Message::TRASH %>
      <option value="<%= Message::TRASH %>" selected><%= 'Trash' %></option>
    <% end %>
    <% unless session[:messenger_folder] == Message::SENT %>
      <% unless session[:messenger_folder] == Message::INBOX %>
        <option value="<%= Message::INBOX %>"><%= 'Inbox' %></option>
      <% end %>
      <% unless session[:messenger_folder] == Message::ARCHIVE %>
        <option value="<%= Message::ARCHIVE %>"><%= 'Archive' %></option>
      <% end %>
    <% end %>
  </select>