
<% page_name 'Sources' %>

<div class="main">
  
  <h2>sources</h2>

  <%= partial 'misc/flash' %>

  <div class="links">
    <%= link_to '[ new ]', url(:sources, :new), :class => 'admin' %>
  </div>
  
  <table class="browse">
    <tr>
      <td class="header">
        &nbsp; id &nbsp;
      </td>
      <td class="header">
        description
      </td>
      <td class="header_order_by">
        position
      </td>
      <td class="header">
        &nbsp;
      </td>
      <td class="header">
        &nbsp;
      </td>
    </tr>
    <% unless @sources.blank? %>
      <% @sources.each do |t| %>
        <tr>
          <td>
            <%= t.id %>
          </td>
          <td>
            <%= t.description %>
          </td>
          <td>
            <%= t.position %>
          </td>
          <td class="no_wrap">
            <%= link_to '[ edit ]', url(:sources, :edit, :id => t), :class => 'admin' %>
          </td>
          <td class="no_wrap">
            <%= link_to '[ delete ]', url(:sources, :destroy, :id => t), :method => :delete, :class => 'admin', :confirm => 'Are you sure?' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="7">
          no sources found
        </td> 
      </tr>
    <% end %>
  </table>
</div>