
<% page_name 'Environment' %>

<div class="main">
  <div class="inner" style="width:800px;">
    
    <h2>env</h2>

    <% if current_user.admin? && @show_passenger_restart_link %>
      <div class="links">
        <%= link_to '[ restart ]', url(:adm, :passenger_restart), :method => :put, :class => 'admin' %>
      </div>
    <% end %>

    <table class="details">
      <% if @show_sensitive %>
        <tr>
          <td class="label">
            server hostname
          </td>
          <td>
            <%= @env_properties[:server_hostname] %>
          </td>
        </tr>
        <tr>
          <td class="label">
            server time
          </td>
          <td>
            <%= @env_properties[:server_time] %>
          </td>
        </tr>
        <tr>
          <td class="label">
            database time
          </td>
          <td>
            <%= @env_properties[:database_time] %>
          </td>
        </tr>
        <tr>
          <td class="label">
            ruby
          </td>
          <td>
            <%= @env_properties[:ruby_version] %>
          </td>
        </tr>
        <tr>
          <td class="label">
            ruby gems
          </td>
          <td>
            <%= @env_properties[:ruby_gems_version] %>
          </td>
        </tr>
        <tr>
          <td class="label">
            bundler
          </td>
          <td>
            <%= @env_properties[:bundler_version] %>
          </td>
        </tr>        
        <% if @env_properties[:passenger_version] %>
          <tr>
            <td class="label">
              passenger
            </td>
            <td>
              <%= @env_properties[:passenger_version] %>
            </td>
          </tr>
        <% end %>
        <tr>
          <td class="label">
            rack
          </td>
          <td>
            <%= @env_properties[:rack_version] %>
          </td>
        </tr>
        <tr>
          <td class="label">
            padrino
          </td>
          <td>
            <%= @env_properties[:padrino_version] %>
          </td>
        </tr>
        <tr>
          <td class="label">
            root
          </td>
          <td>
            <%= @env_properties[:padrino_root] %>
          </td>
        </tr>
        <tr>
          <td class="label">
            database
          </td>
          <td>
            <%= @env_properties[:database] %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td class="label">
          env
        </td>
        <td>
          <%= @env_properties[:padrino_env] %>
        </td>
      </tr>
      <tr>
        <td class="label">
          logger level
        </td>
        <td>
          <%= @env_properties[:logger_level] %>
        </td>
      </tr>
      <tr>
        <td class="label">
          locale
        </td>
        <td>
          <%= @env_properties[:locale] %>
        </td>
      </tr>
    </table>
    
    <br/>
    
    <h2>memcached</h2>

    <table class="browse">
      <tr>
        <td class="header">
          host
        </td>
        <td class="header">
          port
        </td>
        <td class="header">
          status
        </td>
        <td class="header">
          up_since
        </td>
        <td class="header" title="current / max">
          size
        </td>
        <td class="header" title="current / total">
          connections
        </td>
        <td class="header" title="current / total">
          items
        </td>
        <td class="header">
          hits
        </td>
        <td class="header">
          misses
        </td>
        <td class="header">
          evictions
        </td>
        <td class="header">
          in
        </td>
        <td class="header">
          out
        </td>
      </tr>
      <% unless @env_properties[:memcached_servers].blank? %>
        <% @env_properties[:memcached_servers].each do |s| %>
          <tr>
            <td>
              <%= s[:host] %>
            </td>
            <td>
              <%= s[:port] %>
            </td>
            <td>
              <%= s[:status].downcase if s[:status] %>
            </td>
            <td class="no_wrap">
              <%= I18n.l s[:stats][:uptime].seconds.ago, :format => :db if s[:stats][:uptime] %>
            </td>
            <td>
              <%= textual_data_amount s[:stats][:bytes] %> / <%= textual_data_amount s[:stats][:limit_maxbytes] %>
            </td>
            <td class="no_wrap">
              <%= s[:stats][:curr_connections] %> / <%= s[:stats][:total_connections] %>
            </td>
            <td class="no_wrap">
              <%= s[:stats][:curr_items] %> / <%= s[:stats][:total_items] %>
            </td>
            <td>
              <%= s[:stats][:get_hits] %>
            </td>
            <td>
              <%= s[:stats][:get_misses] %>
            </td>
            <td>
              <%= s[:stats][:evictions] || 0 %>
            </td>
            <td class="no_wrap">
              <%= textual_data_amount s[:stats][:bytes_read] %>
            </td>
            <td class="no_wrap">
              <%= textual_data_amount s[:stats][:bytes_written] %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="12">
            <%= @env_properties[:memcached_servers].nil? ? 'caching not enabled'  : 'no configured servers' %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>