
<% page_name 'Request Comment Edition' %>

<div class="main">  
  
  <h2>Request Comment Edition</h2>

  <div class="torrent_header">
    <%= wish_link @wish_comment.wish %>
  </div>

  <%= partial 'misc/flash' %>

  <div class="fields_box" style="width:600px;">
    <% form_for :wish_comment, url(:wish_comments, :update, :wish_id => @wish_comment.wish, :id => @wish_comment, :page => params[:page]), :method => :put do |f| %>
      <table>
        <tr>
          <td>
            <%= partial_with_block('misc/editor', { :target => 'body', :align => 'center' }) { f.text_area :body, :rows => 8, :cols => 70 } %>
            <%= field_error @wish_comment.errors[:body] %>
          </td>
        </tr>
        <tr>
          <td class="center">
            <ul class="buttons">
              <li><%= submit_tag 'Edit', :class => 'submit' %></li>
              <li><%= submit_tag 'Cancel', :name => 'cancel', :class => 'submit' %></li>
            </ul>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>