
<% page_name 'Reseed Request' %>

<div class="main">
  
  <h2>Reseed Request</h2>

  <div class="torrent_header">
    <%= torrent_link @torrent %>
  </div>

  <%= partial 'misc/flash' %>

  <div class="fields_box" style="width:700px;">
    <% form_tag url(:torrents, :reseed_request, :id => @torrent) do %>
      <table>
        <tr>
          <td class="grey bold">
            A request message will be sent to users who snatched the torrent recently.
            That will cost you <%= settings.c[:torrents][:reseed_request_cost_mb] %> MB.
          <td>
        </tr>
        <tr>
          <td class="center">
            <ul class="buttons">
              <li><%= submit_tag 'Confirm', :class => 'submit' %></li>
              <li><%= submit_tag 'Cancel', :name => 'cancel', :class => 'submit' %></li>
            </ul>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
