
<% page_name 'Genders' %>

<div class="main">
  
  <h2>genders</h2>

  <div class="links">
    <%= link_to '[ new ]', url(:genders, :new), :class => 'admin' %>
  </div>

  <table class="browse">
    <tr>
      <td class="header">
        &nbsp; id &nbsp;
      </td>
      <td class="header_order_by">
        description
      </td>
      <td class="header">
        &nbsp;
      </td>
      <td class="header">
        &nbsp;
      </td>
    </tr>
    <% unless @genders.blank? %>
      <% @genders.each do |g| %>
        <tr>
          <td>
            <%= g.id %>
          </td>
          <td>
            <%= g.description %>
          </td>
          <td class="no_wrap">
            <%= link_to '[ edit ]', url(:genders, :edit, :id => g), :class => 'admin' %>
          </td>
          <td class="no_wrap">
            <%= link_to '[ delete ]', url(:genders, :destroy, :id => g), :method => :delete, :class => 'admin', :confirm => 'Are you sure?' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="4">
          no genders found
        </td> 
      </tr>
    <% end %>
  </table>
</div>